body {
	margin: 0;
	padding: 0;
	background: skyblue;
	overflow-x: hidden;
}

	/* header */

#header h1 {
	margin-top: 100px;
}

#header .menu {
	position: fixed;
	top: 0;
	left: -120px;
	right: 0;
	height: 50px;
}

#header {
	display: flex;
	flex-wrap: nowrap;
}

#header .menu ul li {
	list-style-type: none;
	display: inline-block;
}


#header .menu ul li a {
 	color: white;
	display: block;
	padding: 6px;
	font-size: 13px;
	text-decoration: none;
}


#header .menu ul li a:hover {
	position: relative;
	top: -5px;
	background: tomato;
}

#header .menu {
	z-index: 2;
	background: black;
}

#header .menu-mobile ul li a {
 	color: white;
	display: block;
	padding: 6px;
	font-size: 13px;
	margin-left: 0;
	text-decoration: none;
}

		/* Main */
		

#main .mobiles .container-mobiles .container .mobile u {
	display: block;
}


#main .mobiles .container-mobiles .container .mobile .photo-mobile, .info-mobile, .info-meta,	.and {
	padding: 10px;
}



#main .mobiles .container-mobiles .container .mobile div p {
	text-align: center;
	font-size: 18px;
}

#main .mobiles .container-mobiles .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 500px;
}

#main .mobiles .container-mobiles .container .mobile .and .info-buy {
	background: linear-gradient(to right, pink, orange);
	border-radius: 30px;
	padding: 10px;
	width: 100px;
	text-decoration: none;
}


#main .mobiles .container-mobiles .container .mobile .and a {;
	color: white;
	text-decoration: none;
	display: inline-block;
	z-index: 1;
}

#main .mobiles .container-mobiles .container .mobile span {
	text-decoration: line-through;
}

#main .mobiles .container-mobiles .container .mobile small {
	background: gold;
}

#main .mobiles .container-mobiles .container .mobile .and {
	text-align: center;
}

#main .mobiles .container-mobiles .container .mobile .and a:active {
	position: relative;
	top: -10px;
	right: 10px;
}


#main .mobiles .container-mobiles .container .mobile div {
	border: 1px solid grey;
}

		/* floats */

#main .mobiles .container-mobiles .container .mobile {
	border: 3px solid black;
	width: 700px;
	display: flex;
	background-color: Background;
}


#main .container-all .container .mobile h2 {
	float: left;
}	

		/* blocks */

#main .container-all .container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}

#main .container-all .container div {
	margin: 10px;
}


#main .container-all .container .nav,.main,.content {
	padding: 0;
}


	/* footer */


#footer .menu ul li {
	list-style-type: none;
	display: inline-block;
}


#footer .menu ul li a {
	color: white;
	display: block;
	padding: 5px;
	text-decoration: none;
}

#footer .menu ul li a:hover {
	position: relative;
	top: -5px;
	background: tomato;
}


#footer .menu {
	width: 600px;
	position: relative;
	top: 0;
	left: -140px;
	right: 0;
	z-index: 1;
}

#footer .menu .about {
	position: relative;
	top: 0;
	left: 0;
	right: -50px;
}

#footer {
	background: none;
	position: relative;
	bottom: 0;
}