	/* body */

body {
	margin: 0;
	padding: 0;
	background: skyblue;
	font-family: sans-serif;
	font-weight: normal;
	overflow-x: hidden;
}


		/* header, menu, ul, li and a */


#header .menu ul li {
	list-style-type: none;
	display: inline-block;
}

#header .menu ul li a {
	color: white;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

#header .menu ul {
	margin-left: 100px;
}

#header .menu ul li a:hover {
	position: relative;
	top: -15px;
	background: tomato;
}

#header .menu {
	background: black;
}


		/* menu */

#header .menu {
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
}

		/* h1 */

		
	/* wrapper and main */


#wrapper #main {
	width: 400px;
	padding: 20px;
	margin-bottom: 600px;
}

		/* info-meta info-mobile photo-mobile info-value */

	/* footer */



#footer .menu ul li {
	list-style-type: none;
	display: inline-block;
}


#footer .menu ul li a {
	color: white;
	display: block;
	padding: 10px 40px;
	text-decoration: none;
}

#footer .menu ul li a:hover {
	position: relative;
	top: -5px;
	background: tomato;
}


#footer .menu {
	background: black;
}

#footer .menu ul {
	margin-left: 100px;
}

#footer .menu ul li .about {
	position: relative;
	right: -300px;
}
