body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
#header .menu {
	position: fixed;
	top: 0;
	left: -100px;
	right: 0;
}

#header .menu ul li {
	list-style-type: none;
	display: inline-block;
}


#header .menu ul li a {
 	color: white;
	display: block;
	padding: 10px 13px;
	font-size: 15px;
	text-decoration: none;
}

#header .menu ul li a:hover {
	position: relative;
	top: -5px;
	background: tomato;
	border-radius: 30px;
}
#header .menu-mobile ul li a {
 	color: white;
 	margin-left: 50px;
	display: block;
	padding: 6px;
	font-size: 13px;
	text-decoration: none;
}

#header .menu {
	z-index: 2;
	background: black;
}

#header {
	margin-bottom: 100px;
}
		/* Main */
		

#main .mobiles .container-mobiles .container .mobile .photo-mobile, .info-mobile, .info-meta,	.and {
	padding: 10px;
}



#main .mobiles .container-mobiles .container .mobile div p {
	text-align: center;
}



#main .mobiles .container-mobiles .container .mobile .and .info-buy {
	background: linear-gradient(to right, pink, orange);
	border-radius: 30px;
	padding: 10px;
	width: 100px;
	text-decoration: none;
}


#main .mobiles .container-mobiles .container .mobile .and a {;
	color: white;
	text-decoration: none;
	display: inline-block;
	z-index: 1;
}


#main .mobiles .container-mobiles .container .mobile span {
	text-decoration: line-through;
}

#main .mobiles .container-mobiles .container .mobile small {
	background: gold;
}

#main .mobiles .container-mobiles .container .mobile .and {
	text-align: center;
}

#main .mobiles .container-mobiles .container .mobile .and a:active {
	position: relative;
	top: -10px;
	right: 10px;
}


#main .mobiles .container-mobiles .container .mobile div {
	border: 1px solid grey;
}

		/* floats */

#main .mobiles .container-mobiles .container .mobile {
	border: 3px solid black;
	margin: 5px;
	display: flex;
	flex-direction: row;
}

#main .mobiles .container-mobiles .container {
	border: 3px solid grey;
	background-color: Background;
}
		/* h2 */

#main .mobiles .container-mobiles .container .mobile h2 {
	float: left;
}	
	/* footer */

#footer {
	margin-top: 100px;
}


#footer .menu ul li {
	list-style-type: none;
	display: inline-block;
}


#footer .menu ul li a {
	color: white;
	display: block;
	font-size: 15px;
	padding: 10px 13px;
	text-decoration: none;
}

#footer .menu ul li a:hover {
	position: relative;
	top: -5px;
	background: tomato;
	border-radius: 30px;
}


#footer .menu {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	background: black;
}

#footer {
	position: relative;
	bottom: 0;
}
